/* these are my cool california styles for my cool web page  */


@import url('https://fonts.googleapis.com/css2?family=Average&family=Coustard:wght@900&display=swap');


body {
  background-color: cornsilk;
}



.bottlejack_header{
	
	
}

.bottlejack_h1{
	/* the part of the header that says "bottlejack press" */
	font-size: 64px;
	font-family: 'Coustard', 'Adobe Caslon', 'Big Caslon', fantasy;
	text-align: center;
	margin-bottom: 0px;
}

.bottlejack_h6{
	/* the part of the header that says "from kit buckley" */
	font-size: 24px;
	font-family: 'Windsor', 'Adobe Caslon', 'Big Caslon', 'Average', serif;
	text-align: center;
	margin-top: 0px;
}

* {
		color: navy;
}		

.subhead{
	/*largest subheader, used for project names just below the header and project categories in the index file*/
	font-size: 40px;
	font-family: 'Coustard', 'Adobe Caslon', 'Big Caslon', fantasy;
	text-align: center;
	margin-bottom: 0px;
}

.subsubhead{
	/*medium subheader, used for brief project descriptions just below the subheader in project pages*/
	font-size: 30px;
	font-family: 'Coustard', 'Adobe Caslon', 'Big Caslon', fantasy;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}


.project{
		font-family: 'Adobe Caslon', 'Big Caslon', 'Average', serif;
		/*margin-bottom: 0px;*/
		text-align: center;
		margin-left: 5%;
		margin-right: 5%; 
}

.project_title{
	/*used on the index page, not in the individual project pages*/
	font-size: 20px;
	margin-bottom: 0px;
	text-align: center;
}

.project_description{
	/*used on the index page, not in the individual project pages*/
	text-align: center;
	margin-top: 2px;
}

.project_pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-bottom: 50px;
	margin-top: 50px;
}

.project_caption{
	/*for sticking a caption right under a photo*/
	margin-top: -1px;
	text-align: center;
}


.fish{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-bottom: 20px;
	margin-top: 80px;
}

.pobox{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 30%;

}

